.square {
    width: 30px;
    height: 30px;
    border: 5px solid ;
    border-style: outset;
    background-color: bisque;
    box-sizing: border-box;
}

.square__open {
    background-color: rgb(189, 189, 189);
    border: 1px solid grey;
}